html{
  font-size: 14px;
}

*{
  box-sizing: border-box;
  font-size: 1.5rem;;
}

#myForm{
  padding: 30px;
  background-color: bisque;
}

label, form button{
  display: block;
  margin-top: 20px;
}

#myForm input, #myForm select{
  padding: 10px;
  font-size: 20px;
}

.container div:nth-child(even){
  background-color: lightblue;
}

div[data-index]{
  display: block;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
div[data-index] button, #myForm button{
  padding: 20px 1px;;
  margin-right: 20px;
  width: 150px;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid rgb(145, 145, 239);
  border-radius: 10px;
}
div[data-index] button:active, #myForm button:active{
  background-color: #baecba;
}

input:invalid{
  border: 2px solid red;
  background-color: rgb(230, 171, 171);
}

input:valid{
  border: 2px solid blue;
  background-color: rgb(153, 186, 226);
}