html {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(230, 240, 240);
  h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
    padding: 30px;
    background-color: gray;
    color: white;
  }
  p {
    font-size: 1.3rem;
  }
}
