html {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: rgb(230, 240, 240);
}
body h1 {
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  padding: 30px;
  background-color: gray;
  color: white;
}
body h2 {
  text-align: center;
}
body p {
  font-size: 1.3rem;
  text-align: center;
}
.btn, .container div[data-index] .read, .container div[data-index] button, form .form-btns button, body button {
  padding: 20px;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid rgb(145, 145, 239);
  border-radius: 10px;
}

btn-active, .container div[data-index] button:active, form .form-btns button:active, body button:active {
  background-color: #baecba;
}

.show-form {
  z-index: 2;
  visibility: visible;
  background-color: rgb(198, 217, 249);
  border-radius: 10px;
}

form {
  position: absolute;
  padding: 10px 30px;
  border-bottom: 3px solid;
  min-width: 400px;
  max-width: 80%;
  margin: 0 auto;
  z-index: -1;
  visibility: hidden;
  top: 30vh;
  border: 2px solid;
}
form .main-section {
  background-color: rgb(240, 240, 240);
  border: 2px solid rgb(180, 180, 180);
  border-radius: 10px;
  box-shadow: 1px 1px 10px gray;
  padding: 20px;
  display: grid;
  grid-template: repeat(2, auto)/repeat(2, auto);
  gap: 20px;
  column-gap: 50px;
  flex-wrap: wrap;
}
form .main-section .section-1 {
  padding: 0;
}
form .main-section .section-1 label {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2px;
  padding-left: 4px;
}
form .main-section .section-1 input, form .main-section .section-1 .error, form .main-section .section-1 select {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  font-size: 18px;
  display: block;
}
form .main-section .section-1 select {
  padding: 8px 40px;
  background-color: white;
  border: 2px solid;
}
form .main-section .section-1 .error {
  color: red;
  padding: 10px 0;
}
form .main-section .section-2 {
  padding: 0;
}
form .main-section .section-2 label {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2px;
  padding-left: 4px;
}
form .main-section .section-2 input, form .main-section .section-2 .error, form .main-section .section-2 select {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  font-size: 18px;
  display: block;
}
form .main-section .section-2 select {
  padding: 8px 40px;
  background-color: white;
  border: 2px solid;
}
form .main-section .section-2 .error {
  color: red;
  padding: 10px 0;
}
form .main-section .section-3 {
  padding: 0;
}
form .main-section .section-3 label {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2px;
  padding-left: 4px;
}
form .main-section .section-3 input, form .main-section .section-3 .error, form .main-section .section-3 select {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  font-size: 18px;
  display: block;
}
form .main-section .section-3 select {
  padding: 8px 40px;
  background-color: white;
  border: 2px solid;
}
form .main-section .section-3 .error {
  color: red;
  padding: 10px 0;
}
form .main-section .section-4 {
  padding: 0;
}
form .main-section .section-4 label {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2px;
  padding-left: 4px;
}
form .main-section .section-4 input, form .main-section .section-4 .error, form .main-section .section-4 select {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  font-size: 18px;
  display: block;
}
form .main-section .section-4 select {
  padding: 8px 40px;
  background-color: white;
  border: 2px solid;
}
form .main-section .section-4 .error {
  color: red;
  padding: 10px 0;
}
form input:invalid, form .main-section .section-1 select:invalid, form .main-section .section-1 .error:invalid, form .main-section .section-2 select:invalid, form .main-section .section-2 .error:invalid, form .main-section .section-3 select:invalid, form .main-section .section-3 .error:invalid, form .main-section .section-4 select:invalid, form .main-section .section-4 .error:invalid {
  border: 2px solid red;
  background-color: rgb(230, 171, 171);
}
form input:valid:not(select:valid), form .main-section .section-1 select:valid:not(select:valid), form .main-section .section-1 .error:valid:not(select:valid), form .main-section .section-2 select:valid:not(select:valid), form .main-section .section-2 .error:valid:not(select:valid), form .main-section .section-3 select:valid:not(select:valid), form .main-section .section-3 .error:valid:not(select:valid), form .main-section .section-4 select:valid:not(select:valid), form .main-section .section-4 .error:valid:not(select:valid) {
  border: 2px solid blue;
  background-color: rgb(153, 186, 226);
}
form .form-btns {
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.container {
  width: 100%;
  margin-top: 30px;
}
.container div[data-index] {
  display: block;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  gap: 10px;
  font-size: 1.3rem;
}
.container div[data-index] .child-divs, .container div[data-index] div:not(div:nth-child(1)), .container div[data-index] div:nth-child(1) {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.container div[data-index] div:nth-child(1) {
  justify-content: flex-start;
  min-width: 200px;
}
.container div[data-index] div:not(div:nth-child(1)) {
  min-width: 150px;
}
.container div[data-index] button {
  padding: 15px 20px;
}
.container div[data-index] .read {
  padding: 15px 20px;
  min-width: 150px;
}
.container div[data-index]:nth-child(even) {
  background-color: lightblue;
}

/*# sourceMappingURL=index1.css.map */
